# Pandas (–ß–∞—Å—Ç—å 2)

> üöÄ –í —ç—Ç–æ–π –ø—Ä–∞–∫—Ç–∏–∫–µ –Ω–∞–º –ø–æ–Ω–∞–¥–æ–±—è—Ç—Å—è: `numpy==1.21.2, pandas==1.3.3` 

> üöÄ –£—Å—Ç–∞–Ω–æ–≤–∏—Ç—å –≤—ã –∏—Ö –º–æ–∂–µ—Ç–µ —Å –ø–æ–º–æ—â—å—é –∫–æ–º–∞–Ω–¥—ã: `!pip install numpy==1.21.2 pandas==1.3.3`

## –°–æ–¥–µ—Ä–∂–∞–Ω–∏–µ

* [–£—Å–ª–æ–≤–Ω–∞—è –∏–Ω–¥–µ–∫—Å–∞—Ü–∏—è](#–£—Å–ª–æ–≤–Ω–∞—è-–∏–Ω–¥–µ–∫—Å–∞—Ü–∏—è)
  * [–ó–∞–¥–∞–Ω–∏–µ - —Ñ–∏–ª—å—Ç—Ä—É–µ–º](#–ó–∞–¥–∞–Ω–∏–µ---—Ñ–∏–ª—å—Ç—Ä—É–µ–º)
  * [–ó–∞–¥–∞–Ω–∏–µ - –µ—â–µ —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏](#–ó–∞–¥–∞–Ω–∏–µ---–µ—â–µ-—Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏)
* [–û–ø–µ—Ä–∞—Ü–∏–∏ —Å —Ä—è–¥–∞–º–∏ / –ù–æ–≤—ã–µ –∫–æ–ª–æ–Ω–∫–∏](#–û–ø–µ—Ä–∞—Ü–∏–∏-—Å-—Ä—è–¥–∞–º–∏-/-–ù–æ–≤—ã–µ-–∫–æ–ª–æ–Ω–∫–∏)
* [–û–ø–µ—Ä–∞—Ü–∏–∏ —Å —Ñ—Ä–µ–π–º–∞–º–∏](#–û–ø–µ—Ä–∞—Ü–∏–∏-—Å-—Ñ—Ä–µ–π–º–∞–º–∏)
  * [–ü–µ—Ä–µ–∏–º–µ–Ω–æ–≤–∞–Ω–∏–µ –∫–æ–ª–æ–Ω–æ–∫ / –∏–Ω–¥–µ–∫—Å–æ–≤](#–ü–µ—Ä–µ–∏–º–µ–Ω–æ–≤–∞–Ω–∏–µ-–∫–æ–ª–æ–Ω–æ–∫-/-–∏–Ω–¥–µ–∫—Å–æ–≤)
    * [–ó–∞–¥–∞–Ω–∏–µ - –Ω–æ–≤—ã–µ –∏–º–µ–Ω–∞](#–ó–∞–¥–∞–Ω–∏–µ---–Ω–æ–≤—ã–µ-–∏–º–µ–Ω–∞)
  * [–£–¥–∞–ª–µ–Ω–∏–µ –∫–æ–ª–æ–Ω–æ–∫ / —Å—Ç—Ä–æ–∫](#–£–¥–∞–ª–µ–Ω–∏–µ-–∫–æ–ª–æ–Ω–æ–∫-/-—Å—Ç—Ä–æ–∫)
  * [–û–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ NaN](#–û–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ-–∫–æ–ª–∏—á–µ—Å—Ç–≤–∞-NaN)
  * [–ó–∞–ø–æ–ª–Ω–µ–Ω–∏–µ –ø—É—Å—Ç—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π](#–ó–∞–ø–æ–ª–Ω–µ–Ω–∏–µ-–ø—É—Å—Ç—ã—Ö-–∑–Ω–∞—á–µ–Ω–∏–π)
  * [–ò–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ–± —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏—è—Ö](#–ò–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è-–æ–±-—É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö-–∑–Ω–∞—á–µ–Ω–∏—è—Ö)
  * [–§–∏–ª—å—Ç—Ä–∞—Ü–∏—è](#–§–∏–ª—å—Ç—Ä–∞—Ü–∏—è)
    * [–ó–∞–¥–∞–Ω–∏–µ - –∏ –µ—â–µ –ø–æ—Ñ–∏–ª—å—Ç—Ä—É–µ–º](#–ó–∞–¥–∞–Ω–∏–µ---–∏-–µ—â–µ-–ø–æ—Ñ–∏–ª—å—Ç—Ä—É–µ–º)
  * [–°–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞](#–°–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞)
    * [–ó–∞–¥–∞–Ω–∏–µ - —Å–Ω–æ–≤–∞ —Å–æ—Ä—Ç–∏—Ä—É–µ–º](#–ó–∞–¥–∞–Ω–∏–µ---—Å–Ω–æ–≤–∞-—Å–æ—Ä—Ç–∏—Ä—É–µ–º)
* [–†–∞–∑–¥–µ–ª–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö –Ω–∞ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏](#–†–∞–∑–¥–µ–ª–µ–Ω–∏–µ-–¥–∞–Ω–Ω—ã—Ö-–Ω–∞-–∫–∞—Ç–µ–≥–æ—Ä–∏–∏)
  * [–ó–∞–¥–∞–Ω–∏–µ - —Ä–∞–∑–¥–µ–ª–∏–º –ø–æ –∫–∞—á–µ—Å—Ç–≤—É](#–ó–∞–¥–∞–Ω–∏–µ---—Ä–∞–∑–¥–µ–ª–∏–º-–ø–æ-–∫–∞—á–µ—Å—Ç–≤—É)
* [–ê–≥—Ä–µ–≥–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö](#–ê–≥—Ä–µ–≥–∞—Ü–∏—è-–¥–∞–Ω–Ω—ã—Ö)
  * [–ó–∞–¥–∞–Ω–∏–µ - –ø—Ä–æ—â–µ –ø—Ä–æ—Å—Ç–æ–≥–æ —Å—Ä–µ–¥–Ω–µ–≥–æ](#–ó–∞–¥–∞–Ω–∏–µ---–ø—Ä–æ—â–µ-–ø—Ä–æ—Å—Ç–æ–≥–æ-—Å—Ä–µ–¥–Ω–µ–≥–æ)
* [–ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏](#–ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏)
  * [–ó–∞–¥–∞–Ω–∏–µ - —Å–≥—Ä—É–ø–ø–∏—Ä—É–µ–º](#–ó–∞–¥–∞–Ω–∏–µ---—Å–≥—Ä—É–ø–ø–∏—Ä—É–µ–º)

–í —ç—Ç–æ–º –Ω–æ—É—Ç–±—É–∫–µ:
- –û–ø—è—Ç—å —É—Å–ª–æ–≤–Ω–∞—è –∏–Ω–¥–µ–∫—Å–∞—Ü–∏—è? 
- –ö–∞–∫ –ø—Ä–æ—Å—Ç–æ –¥–æ–±–∞–≤–∏—Ç—å –Ω–æ–≤—É—é –∫–æ–ª–æ–Ω–∫—É (x['name'] =) –∏–ª–∏ —É–±—Ä–∞—Ç—å (.drop)
- –ü–æ–¥—Ä–æ–±–Ω–µ–µ –ø—Ä–æ Nan 
- –£–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è (.unique)
- –§–∏–ª—å—Ç—Ä–∞—Ü–∏—è –ø–æ –∑–Ω–∞—á–µ–Ω–∏—é (.filter)
- –°–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞ (.sort_values)
- –ö–∞—Ç–µ–≥–æ—Ä–∏–∑–∞—Ü–∏—è (.cut)
- –û—á–µ–Ω—å –≤–∞–∂–Ω–∞—è "–ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞" (.groupby) - –¥–ª—è –æ–ø–µ—Ä–∞—Ü–∏–π —Å –¥–∞–Ω–Ω—ã–º–∏, –æ–±—ä–µ–¥–∏–Ω–µ–Ω–Ω—ã–º–∏ –ø–æ –∑–Ω–∞—á–µ–Ω–∏—è–º –∫–ª—é—á–µ–≤–Ω–æ–≥–æ —Å—Ç–æ–ª–±—Ü–∞

In [1]:
import pandas as pd
import numpy as np

## –£—Å–ª–æ–≤–Ω–∞—è –∏–Ω–¥–µ–∫—Å–∞—Ü–∏—è

–ü—Ä–∏ —Ä–∞–±–æ—Ç–µ —Å –¥–∞–Ω–Ω—ã–º–∏ —á–∞—Å—Ç–æ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –≤—ã–±—Ä–∞—Ç—å —á–∞—Å—Ç—å –¥–∞–Ω–Ω—ã—Ö –ø–æ —É—Å–ª–æ–≤–Ω–æ–º—É –ø—Ä–∏–∑–Ω–∞–∫—É. –ü–æ –∞–Ω–∞–ª–æ–≥–∏–∏ —Å —Ä–∞–±–æ—Ç–æ–π –≤ numpy, –ø—Ä–∏–º–µ–Ω–µ–Ω–∏–µ –±—É–ª–µ–≤—ã—Ö –æ–ø–µ—Ä–∞—Ç–æ—Ä–æ–≤ –Ω–∞ —Ä—è–¥ –¥–∞–Ω–Ω—ã—Ö —Å–æ–∑–¥–∞—ë—Ç —Ç–∞–∫–æ–π –∂–µ –ø–æ —Ä–∞–∑–º–µ—Ä—É —Ä—è–¥ –∏–∑ –±—É–ª–µ–≤—ã—Ö —ç–ª–µ–º–µ–Ω—Ç–æ–≤, –ø—Ä–µ–¥—Å—Ç–∞–≤–ª—è—é—â–∏—Ö —Å–æ–±–æ–π –º–∞—Å–∫—É:

In [2]:
df = pd.DataFrame(
    data=np.random.randint(0, 10, size=(15, 3)), 
    columns=['x1', 'x2', 'x3']
)
df.head(3)

   x1  x2  x3
0   0   1   7
1   4   4   8
2   4   6   0

In [3]:
df['x1'] > 5

0     False
1     False
2     False
3      True
4      True
5     False
6     False
7     False
8     False
9     False
10     True
11     True
12    False
13    False
14    False
Name: x1, dtype: bool

–ü–æ—Å–ª–µ —Ç–æ–≥–æ, –∫–∞–∫ –º–∞—Å–∫–∞ –ø–æ–ª—É—á–µ–Ω–∞, –º–æ–∂–Ω–æ –ø—Ä–∏–º–µ–Ω–∏—Ç—å –µ—ë, —á—Ç–æ–±—ã –≤—ã–±—Ä–∞—Ç—å –∫–æ–Ω–∫—Ä–µ—Ç–Ω—ã–µ –∑–∞–ø–∏—Å–∏ (—Å—Ç—Ä–æ–∫–∏) –¥–∞–Ω–Ω—ã—Ö. –ü—Ä–∏ —ç—Ç–æ–º, –∏–Ω–¥–µ–∫—Å–∞—Ü–∏—è –º–∞—Å–∫–æ–π —Ä–∞–±–æ—Ç–∞–µ—Ç –∫–∞–∫ –ø—Ä–∏ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–∏ `[]`, —Ç–∞–∫ –∏ –ø—Ä–∏ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–∏ `.loc[]`.

In [4]:
mask = df['x1'] > 5
df[mask]

# –ò–ª–∏ df[df['x1'] > 5]

    x1  x2  x3
3    9   3   5
4    9   4   7
10   8   1   1
11   8   6   1

–ß—Ç–æ–±—ã –ø–æ–ª—É—á–∏—Ç—å –∑–Ω–∞—á–µ–Ω–∏—è, –æ–±—Ä–∞—Ç–Ω—ã–µ —É—Å–ª–æ–≤–∏—é, –º–æ–∂–Ω–æ –≤–æ—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å—Å—è –æ–ø–µ—Ä–∞—Ç–æ—Ä–æ–º –ù–ï: `~` - –æ–Ω –∏–Ω–≤–µ—Ä—Ç–∏—Ä—É–µ—Ç –º–∞—Å–∫—É —É—Å–ª–æ–≤–∏—è:

In [5]:
df[~(df['x1'] > 5)]

    x1  x2  x3
0    0   1   7
1    4   4   8
2    4   6   0
5    0   4   5
6    2   4   1
7    3   2   6
8    0   8   8
9    0   2   1
12   0   3   5
13   5   7   4
14   5   2   5

> –ö–∞–∫ –∏ –≤ numpy, –¥–ª—è –ø—Ä–∏–º–µ–Ω–µ–Ω–∏—è –Ω–µ—Å–∫–æ–ª—å–∫–∏—Ö –æ–ø–µ—Ä–∞—Ü–∏–π –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –æ–±–æ—Ä–∞—á–∏–≤–∞—Ç—å –∫–∞–∂–¥—É—é –≤ —Å–∫–æ–±–∫–∏.

### –ó–∞–¥–∞–Ω–∏–µ - —Ñ–∏–ª—å—Ç—Ä—É–µ–º

–í—ã–±–µ—Ä–∏—Ç–µ –∑–∞–ø–∏—Å–∏ –≤–æ —Ñ—Ä–µ–π–º–µ, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ –ø—Ä–∏–∑–Ω–∞–∫—É `x1` –∏–º–µ—é—Ç –∑–Ω–∞—á–µ–Ω–∏–µ –±–æ–ª—å—à–µ 3, –∞ –ø–æ –ø—Ä–∏–∑–Ω–∞–∫—É `x3` - –º–µ–Ω—å—à–µ 8.

In [6]:
df = pd.DataFrame(
    data=np.random.randint(0, 10, size=(15, 3)), 
    columns=['x1', 'x2', 'x3']
)
df.head(3)

   x1  x2  x3
0   8   8   4
1   4   9   2
2   4   8   0

In [7]:
mask1 = (df['x1'] > 1)|(df['x3'] < 5)
# TODO - –æ—Ç—Ñ–∏–ª—å—Ç—Ä–æ–≤–∞—Ç—å —Ñ—Ä–µ–π–º –ø–æ –∑–Ω–∞—á–µ–Ω–∏—è–º –ø—Ä–∏–∑–Ω–∞–∫–æ–≤

In [8]:
df[mask1].loc[:,'x1':'x2']
# TODO - –æ—Ç–æ–±—Ä–∞–∑–∏—Ç–µ —Ç–æ–ª—å–∫–æ –∫–æ–ª–æ–Ω–∫–∏ x1 –∏ x2 —Å —É—á–µ—Ç–æ–º —É—Å–ª–æ–≤–∏–π 
#           (–∏—Å–ø–æ–ª—å–∑—É–π—Ç–µ .loc[])

    x1  x2
0    8   8
1    4   9
2    4   8
3    3   7
4    2   1
5    0   1
6    4   2
7    9   8
8    9   8
9    6   6
11   6   1
12   8   2
13   4   3

### –ó–∞–¥–∞–Ω–∏–µ - –µ—â–µ —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏

–° –ø–æ–º–æ—â—å—é –º–µ—Ç–æ–¥–∞ `DataFrame.query()` –ø–æ–ª—É—á–∏—Ç–µ –∑–∞–ø–∏—Å–∏, –∫–æ—Ç–æ—Ä—ã–µ —Å–æ–æ—Ç–≤–µ—Ç—Å–≤—É—é—Ç —É—Å–ª–æ–≤–∏—é —Å—Ä–∞–≤–Ω–µ–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫ $x1 > x3$:

In [9]:
df = pd.DataFrame(
    [[1, 2, 6], [5, 1, 1], [8, 4, 6], [4, 1, 1], [9, 9, 0], [-1, 2, 1], [5, 5, 5]],
    columns = ['x1', 'x2', 'x3']
)
df

   x1  x2  x3
0   1   2   6
1   5   1   1
2   8   4   6
3   4   1   1
4   9   9   0
5  -1   2   1
6   5   5   5

In [10]:
df.query('x1 > x3')
# TODO - –ú–µ—Ç–æ–¥–æ–º DataFrame.query() –ø–æ–ª—É—á–∏—Ç—å –∑–∞–ø–∏—Å–∏, —É–¥–æ–≤–ª–µ—Ç–≤–æ—Ä—è—é—â–∏–µ —É—Å–ª–æ–≤–∏—é
#           x1 > x3

   x1  x2  x3
1   5   1   1
2   8   4   6
3   4   1   1
4   9   9   0

In [11]:
# TODO - –°–¥–µ–ª–∞—Ç—å –∞–Ω–∞–ª–æ–≥–∏—á–Ω–æ–µ –¥–µ–π—Å—Ç–≤–∏–µ, –Ω–æ —É–∂–µ —Å –ø–æ–º–æ—â—å—é —É—Å–ª–æ–≤–Ω–æ–π –∏–Ω–¥–µ–∫—Å–∞—Ü–∏–∏

## –û–ø–µ—Ä–∞—Ü–∏–∏ —Å —Ä—è–¥–∞–º–∏ / –ù–æ–≤—ã–µ –∫–æ–ª–æ–Ω–∫–∏

–†–∞–±–æ—Ç–∞ —Å —Ñ—Ä–µ–π–º–∞–º–∏ –∏ —Ä—è–¥–∞–º–∏ –¥–∞–Ω–Ω—ã—Ö –≤ pandas –ø–æ–¥–¥–µ—Ä–∂–∏–≤–∞–µ—Ç –º–Ω–æ–≥–∏–µ –æ–ø–µ—Ä–∞—Ü–∏–∏ –ø–æ –∞–Ω–∞–ª–æ–≥–∏–∏ —Å —Ä–∞–±–æ—Ç–æ–π –≤ numpy.

In [12]:
df = pd.DataFrame(
    data=np.random.randint(0, 10, size=(15, 3)), 
    columns=['x1', 'x2', 'x3']
)
df.head(3)

   x1  x2  x3
0   4   0   5
1   0   9   4
2   0   7   5

In [13]:
# –°–æ–∑–¥–∞—Ç—å –Ω–æ–≤—É—é –∫–æ–ª–æ–Ω–∫—É –º–æ–∂–Ω–æ –ø–æ –∞–Ω–∞–ª–æ–≥–∏–∏ —Å –Ω–æ–≤—ã–º –∫–ª—é—á—ë–º –≤ —Å–ª–æ–≤–∞—Ä–µ
# –°–ª–æ–∂–µ–Ω–∏–µ –Ω–µ—Å–∫–æ–ª—å–∫–∏—Ö Series –∏ –∑–∞–ø–∏—Å—å –≤ –Ω–æ–≤—É—é –∫–æ–ª–æ–Ω–∫—É
df['x1+x2'] = df['x1'] + df['x2']
df.head(3)

   x1  x2  x3  x1+x2
0   4   0   5      4
1   0   9   4      9
2   0   7   5      7

In [14]:
# –ü–æ—ç–ª–µ–º–µ–Ω—Ç–Ω–æ–µ —É–º–Ω–æ–∂–µ–Ω–∏–µ
df['x1*x3'] = df['x1'] * df['x3']
df.head(3)

   x1  x2  x3  x1+x2  x1*x3
0   4   0   5      4     20
1   0   9   4      9      0
2   0   7   5      7      0

In [15]:
# –í–∑—è—Ç–∏–µ —Å—Ä–µ–¥–Ω–µ–≥–æ –ø–æ –∫–æ–ª–æ–Ω–∫–µ (–º–µ—Ç–æ–¥ Series.mean())
df['x1'].mean()

3.933333333333333

In [16]:
# –ò—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ —Ñ—É–Ω–∫—Ü–∏–π numpy –¥–ª—è —Ä–∞–±–æ—Ç—ã —Å –∫–æ–ª–æ–Ω–∫–∞–º–∏
df['x2_exp'] = np.exp(df['x2'])
df.head(3)

   x1  x2  x3  x1+x2  x1*x3       x2_exp
0   4   0   5      4     20     1.000000
1   0   9   4      9      0  8103.083928
2   0   7   5      7      0  1096.633158

–ö–∞–∫ –≤—ã –∑–∞–º–µ—Ç–∏–ª–∏, —Ä—è–¥—ã (—ç—Ç–æ –∂–µ –æ–¥–Ω–æ–º–µ—Ä–Ω—ã–µ –º–∞—Å—Å–∏–≤—ã) –º–æ–∂–Ω–æ –æ–±—Ä–∞–±–∞—Ç—ã–≤–∞—Ç—å:
- –æ–ø–µ—Ä–∞—Ü–∏—è–º–∏ Python;
- –º–µ—Ç–æ–¥–∞–º–∏ –∫–ª–∞—Å—Å–∞ Series;
- —Ñ—É–Ω–∫—Ü–∏—è–º–∏ numpy.

> –î–ª—è —Å–æ–∑–¥–∞–Ω–∏—è –Ω–æ–≤–æ–π –∫–æ–ª–æ–Ω–∫–∏ –¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ –ø—Ä–æ—Å—Ç–æ –∑–∞–¥–∞—Ç—å –∏–º—è –Ω–æ–≤–æ–π –∫–æ–ª–æ–Ω–∫–∏ –∏ –∑–∞–ø–∏—Å–∞—Ç—å —Ä—è–¥ –¥–∞–Ω–Ω—ã—Ö (–º–æ–∂–µ—Ç –±—ã—Ç—å –¥–∞–∂–µ –æ–¥–Ω–æ–º–µ—Ä–Ω—ã–º –º–∞—Å—Å–∏–≤–æ–º numpy), –∫–æ—Ç–æ—Ä—ã–π –∏–º–µ–µ—Ç —Ç–∞–∫–æ–π –∂–µ —Ä–∞–∑–º–µ—Ä, –∫—É–¥–∞ –ø–∏—à–µ—Ç—Å—è.

–î–ª—è —Å–ª—É—á–∞—è, –µ—Å–ª–∏ –Ω—É–∂–Ω–æ–π —Ñ—É–Ω–∫—Ü–∏–∏ –Ω–µ—Ç, —Ç–æ –º–æ–∂–Ω–æ —Å–æ–∑–¥–∞—Ç—å —Å–≤–æ—é —Å –ø–æ–º–æ—â—å—é –º–µ—Ç–æ–¥–∞ `Series.apply()`, –∫–æ—Ç–æ—Ä–æ–π –ø–µ—Ä–µ–¥–∞—ë—Ç—Å—è –Ω–∞–∑–≤–∞–Ω–∏–µ —Ñ—É–Ω–∫—Ü–∏–∏ –¥–ª—è –ø—Ä–∏–º–µ–Ω–µ–Ω–∏—è –Ω–∞–¥ –≤—Å–µ–º —Ä—è–¥–æ–º.

In [17]:
df = pd.DataFrame(
    data=np.random.randint(0, 10, size=(3, 3)), 
    columns=['x1', 'x2', 'x3']
)
df

   x1  x2  x3
0   8   0   2
1   7   6   5
2   9   4   4

In [18]:
# –û–±—è–∑–∞—Ç–µ–ª—å–Ω–æ —Ç—Ä–µ–±–æ–≤–∞–Ω–∏–µ –∫ —Ñ—É–Ω–∫—Ü–∏–∏ - –æ–¥–∏–Ω –∞—Ä–≥—É–º–µ–Ω—Ç
# –≠—Ç–∞ —Ñ—É–Ω–∫—Ü–∏—è –±—É–¥–µ—Ç –ø–µ—Ä–µ–¥–∞–Ω–∞ –≤ apply() –∏ pandas
#   –±—É–¥–µ—Ç –≤—ã–∑—ã–≤–∞—Ç—å –µ–µ –∏ –ø–µ—Ä–µ–¥–∞–≤–∞—Ç—å –≤ –Ω–µ–µ 
#   –ø–æ –æ–¥–Ω–æ–º—É —ç–ª–µ–º–µ–Ω—Ç—É –∏–∑ —Ä—è–¥–∞
# –í–æ–∑–≤—Ä–∞—â–∞—Ç—å —Ñ—É–Ω–∫—Ü–∏—è –¥–æ–ª–∂–Ω–∞ —Ä–µ–∑—É–ª—å—Ç–∞—Ç –æ–ø–µ—Ä–∞—Ü–∏–∏ –Ω–∞–¥ —ç–ª–µ–º–µ–Ω—Ç–æ–º
def my_func(x):
    print(type(x))
    print(x)
    return x*2

df['result'] = df['x1'].apply(my_func)
df

<class 'int'>
8
<class 'int'>
7
<class 'int'>
9

   x1  x2  x3  result
0   8   0   2      16
1   7   6   5      14
2   9   4   4      18

–ö–∞–∫ –≤–∏–¥–Ω–æ, –≤ —Ñ—É–Ω–∫—Ü–∏—é –ø–µ—Ä–µ–¥–∞–µ—Ç—Å—è –∫–∞–∂–¥—ã–π —ç–ª–µ–º–µ–Ω—Ç –≤ —Ä—è–¥—É, —Ç–∏–ø —ç–ª–µ–º–µ–Ω—Ç–∞ —Å–æ–æ—Ç–≤–µ—Ç—Å–≤—É–µ—Ç —Ç–∏–ø—É –∫–æ–ª–æ–Ω–∫–∏. –†–µ–∑—É–ª—å—Ç–∞—Ç –º–µ—Ç–æ–¥–∞ `.apply()` - –Ω–æ–≤—ã–π —Ä—è–¥ —Å –ø—Ä–∏–º–µ–Ω–µ–Ω–Ω–æ–π —Ñ—É–Ω–∫—Ü–∏–µ–π.

## –û–ø–µ—Ä–∞—Ü–∏–∏ —Å —Ñ—Ä–µ–π–º–∞–º–∏

### –ü–µ—Ä–µ–∏–º–µ–Ω–æ–≤–∞–Ω–∏–µ –∫–æ–ª–æ–Ω–æ–∫ / –∏–Ω–¥–µ–∫—Å–æ–≤

–û–¥–Ω–æ–π –∏–∑ –ø–æ–ª–µ–∑–Ω—ã—Ö —Ñ—É–Ω–∫—Ü–∏–π —è–≤–ª—è–µ—Ç—Å—è –≤–æ–∑–º–æ–∂–Ω–æ—Å—Ç—å –ø–µ—Ä–µ–∏–º–µ–Ω–æ–≤–∞–Ω–∏—è –∏–º—ë–Ω –∫–æ–ª–æ–Ω–æ–∫. –î–ª—è —ç—Ç–æ–≥–æ –∏–º–µ–µ—Ç—Å—è –º–µ—Ç–æ–¥ `DataFrame.rename()`:

In [19]:
df = pd.DataFrame(
    data=np.random.randint(0, 10, size=(15, 3)), 
    columns=['x1', 'x2', 'x3']
)
df.head(3)

   x1  x2  x3
0   0   0   7
1   0   0   0
2   9   9   8

In [20]:
# –ú–µ—Ç–æ–¥—É –ø–µ—Ä–µ–¥–∞–µ—Ç—Å—è –≤ –∞—Ä–≥—É–º–µ–Ω—Ç columns —Å–ª–æ–≤–∞—Ä—å, 
#   –≤ –∫–æ—Ç–æ—Ä–æ–º –∫–ª—é—á–∏ - –∏–º–µ–Ω–∞ –∫–æ–ª–æ–Ω–æ–∫,
#   –∑–Ω–∞—á–µ–Ω–∏—è - –Ω–æ–≤—ã–µ –∏–º–µ–Ω–∞ –¥–ª—è –ø–µ—Ä–µ–∏–º–µ–Ω–æ–≤–∞–Ω–∏—è
df.rename(
    columns={
        'x1': 'new_name_for_x1',
        'x3': 'that_not_x3' 
    },
    inplace=True
)
df.head(3)

   new_name_for_x1  x2  that_not_x3
0                0   0            7
1                0   0            0
2                9   9            8

> –ê—Ä–≥—É–º–µ–Ω—Ç `inplace` —è–≤–ª—è–µ—Ç—Å—è –¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ —Ä–∞—Å–ø—Ä–æ—Å—Ç—Ä–∞–Ω—ë–Ω–Ω—ã–º –≤ –º–µ—Ç–æ–¥–∞—Ö —Ñ—Ä–µ–π–º–æ–≤. –≠—Ç–æ—Ç –∞—Ä–≥—É–º–µ–Ω—Ç —É–ø—Ä–∞–≤–ª—è–µ—Ç —Ç–µ–º, –∫–∞–∫ –ø—Ä–æ–∏–∑–≤–µ—Å—Ç–∏ –æ–ø–µ—Ä–∞—Ü–∏—é: –ø—Ä—è–º–æ –≤ —ç—Ç–æ–º –æ–±—ä–µ–∫—Ç–µ (–ø—Ä–∏ —É—Å—Ç–∞–Ω–æ–≤–ª–µ–Ω–Ω–æ–º True) –∏–ª–∏ –≤–µ—Ä–Ω—É—Ç—å —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–º –Ω–æ–≤—ã–π —Ñ—Ä–µ–π–º —Å –ø—Ä–æ–∏–∑–≤–µ–¥–µ–Ω–Ω–æ–π –æ–ø–µ—Ä–∞—Ü–∏–µ–π (–ø—Ä–∏ —É—Å—Ç–∞–Ω–æ–≤–ª–µ–Ω–Ω–æ–º False).

–î–ª—è —Å—Ä–∞–≤–Ω–µ–Ω–∏—è –∞–Ω–∞–ª–æ–≥–∏—á–Ω—ã–π –∫–æ–¥ –±–µ–∑ `inplace` –≤—ã–≥–ª—è–¥–µ–ª –±—ã —Ç–∞–∫:
```python
df_renamed = df.rename(columns={
    'x1': 'new_name_for_x1',
    'x3': 'that_not_x3'
})
df_renamed
```

–î–ª—è –ø–µ—Ä–µ–∏–º–µ–Ω–æ–≤–∞–Ω–∏—è –∏–Ω–¥–µ–∫—Å–æ–≤ (–Ω–∞–∑–≤–∞–Ω–∏–π –∑–∞–ø–∏—Å–µ–π) –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è —Ç–æ—Ç –∂–µ –ø—Ä–∏–Ω—Ü–∏–ø, –Ω–æ —Å–ª–æ–≤–∞—Ä—å –ø–µ—Ä–µ–¥–∞—ë—Ç—Å—è –≤ –∞—Ä–≥—É–º–µ–Ω—Ç `index` —Å –∫–ª—é—á–∞–º–∏ - –∏—Å—Ö–æ–¥–Ω—ã–º–∏ –Ω–∞–∑–≤–∞–Ω–∏—è–º–∏ –∏–Ω–¥–µ–∫—Å–æ–≤, –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ - –Ω–æ–≤—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏.

#### –ó–∞–¥–∞–Ω–∏–µ - –Ω–æ–≤—ã–µ –∏–º–µ–Ω–∞

–ü–µ—Ä–µ–∏–º–µ–Ω—É–π—Ç–µ –∏–Ω–¥–µ–∫—Å—ã –∏ –∫–æ–ª–æ–Ω–∫–∏ –≤–æ —Ñ—Ä–µ–π–º–µ

In [21]:
df = pd.DataFrame(
    data=np.random.randint(0, 10, size=(5, 3)), 
    index=['A', 'B', 'C', 'D', 'E'], 
    columns=['x1', 'x2', 'x3']
)
df

   x1  x2  x3
A   7   6   9
B   0   3   1
C   7   8   4
D   4   0   1
E   0   3   4

In [22]:
df.rename(
    index={
        'A': 'indA',
        'C': 'indC' 
    },
    columns={
        'x1': 'new1',
        'x3': 'new3' 
    },
    inplace=True
)
df
# TODO - –ø–µ—Ä–µ–∏–º–µ–Ω—É–π—Ç–µ –∏–Ω–¥–µ–∫—Å—ã [A, C] -> [indA, indC] 
#           –∏ –∫–æ–ª–æ–Ω–∫–∏ [x1, x3] -> [new1, new3]

      new1  x2  new3
indA     7   6     9
B        0   3     1
indC     7   8     4
D        4   0     1
E        0   3     4

### –£–¥–∞–ª–µ–Ω–∏–µ –∫–æ–ª–æ–Ω–æ–∫ / —Å—Ç—Ä–æ–∫

–î–∞–Ω–Ω—É—é –æ–ø–µ—Ä–∞—Ü–∏—é –º–æ–∂–Ω–æ –ø—Ä–æ–∏–∑–≤–µ—Å—Ç–∏ –¥–≤—É–º—è —Å–ø–æ—Å–æ–±–∞–º–∏:

1. –í—ã–±—Ä–∞—Ç—å –∫–æ–ª–æ–Ω–∫–∏, –∫–æ—Ç–æ—Ä—ã–µ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –æ—Å—Ç–∞–≤–∏—Ç—å, –ø—Ä–æ—Å—Ç–æ–π –∏–Ω–¥–µ–∫—Å–∞—Ü–∏–µ–π;

2. –ú–µ—Ç–æ–¥ `DataFrame.drop()`.

In [23]:
df = pd.DataFrame(
    data=np.random.randint(0, 10, size=(15, 3)), 
    columns=['x1', 'x2', 'x3']
)
df.head(3)

   x1  x2  x3
0   6   3   4
1   7   8   0
2   2   7   9

In [24]:
df.drop(columns=['x2'], inplace=True)
df.head(3)

   x1  x3
0   6   4
1   7   0
2   2   9

### –û–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ NaN

–í –¥–∞–Ω–Ω—ã—Ö —á–∞—Å—Ç–æ –±—ã–≤–∞—é—Ç –ø—Ä–æ–ø—É—Å–∫–∏ (NaN), –ø—Ä–∏ —ç—Ç–æ–º –Ω–∞ –ø–µ—Ä–≤—ã—Ö —ç—Ç–∞–ø–∞—Ö –∞–Ω–∞–ª–∏–∑–∞ –≤–∞–∂–Ω–æ –ø–æ–Ω—è—Ç—å –∏—Ö –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–æ –∫–∞–∂–¥–æ–º—É –ø—Ä–∏–∑–Ω–∞–∫—É. –î–ª—è —ç—Ç–æ–≥–æ –º–æ–∂–Ω–æ –≤–æ—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å—Å—è –º–µ—Ç–æ–¥–æ–º `DataFrame.isna()`, –∫–æ—Ç–æ—Ä—ã–π —Å–æ–∑–¥–∞—Å—Ç –¥–≤—É–º–µ—Ä–Ω—ã–π –±—É–ª–µ–≤—ã–π —Ñ—Ä–µ–π–º, –æ—Ç–≤–µ—á–∞—é—â–∏–π –Ω–∞ –≤–æ–ø—Ä–æ—Å "—è–≤–ª—è–µ—Ç—Å—è –ª–∏ –∑–Ω–∞—á–µ–Ω–∏–µ NaN?". –ü–æ—Å–ª–µ —ç—Ç–æ–≥–æ –Ω–∞–¥ –≤—Å–µ–º —Ñ—Ä–µ–π–º–æ–º –º–æ–∂–Ω–æ –ø—Ä–∏–º–µ–Ω–∏—Ç—å –º–µ—Ç–æ–¥ `DataFrame.sum()`, –∫–æ—Ç–æ—Ä—ã–π –≤–µ—Ä–Ω–µ—Ç —Ä—è–¥ (Series) —Å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º —ç–ª–µ–º–µ–Ω—Ç–æ–≤ True –≤ –±—É–ª–µ–≤–æ–º —Ñ—Ä–µ–π–º–µ (—ç–ª–µ–º–µ–Ω—Ç–æ–≤ NaN –≤ –æ—Å–Ω–æ–≤–Ω–æ–º —Ñ—Ä–µ–π–º–µ). 

–ö–æ–¥–∏—Ä–æ–≤–∫–∞ "–ø—É—Å—Ç—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π" –≤ –∏—Å—Ö–æ–¥–Ω–æ–º —Ñ–∞–π–ª–µ –æ–±—ã—á–Ω–æ –ø–æ–∫–∞–∑—ã–≤–∞–µ—Ç—Å—è –ª–∏–±–æ –∫–æ–Ω—Å—Ç–∞–Ω—Ç–æ–π —Å –Ω–µ–ø–æ–¥—Ö–æ–¥—è—â–∏–º –∑–Ω–∞—á–µ–Ω–∏–µ–º (–Ω–∞–ø—Ä–∏–º–µ—Ä -1 –¥–ª—è –≤–æ–∑—Ä–∞—Å—Ç–∞), –ª–∏–±–æ –ø—Ä–æ–ø—É—Å–∫–æ–º.

In [25]:
df = pd.DataFrame(
    data=np.random.randint(0, 10, size=(5, 3)), 
    columns=['x1', 'x2', 'x3']
)
df.iloc[0, :2] = np.nan
df.iloc[2, 1:] = np.nan

df

    x1   x2   x3
0  NaN  NaN  2.0
1  4.0  1.0  7.0
2  5.0  NaN  NaN
3  8.0  2.0  3.0
4  5.0  9.0  7.0

In [26]:
df.isna()

      x1     x2     x3
0   True   True  False
1  False  False  False
2  False   True   True
3  False  False  False
4  False  False  False

In [27]:
df.isna().sum()

x1    1
x2    2
x3    1
dtype: int64

### –ó–∞–ø–æ–ª–Ω–µ–Ω–∏–µ –ø—É—Å—Ç—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π

–¢–µ—Ö–Ω–∏–∫–∏ –∑–∞–ø–æ–ª–Ω–µ–Ω–∏—è –ø—É—Å—Ç—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –∏–º–µ—é—Ç —Ä–∞–∑–Ω–æ–æ–±—Ä–∞–∑–Ω–æ–µ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–∏–µ, –Ω–æ –æ–¥–Ω–∏–º –∏–∑ –ø—Ä–æ—Å—Ç—ã—Ö –º–µ—Ç–æ–¥–æ–≤ —è–≤–ª—è–µ—Ç—Å—è –∑–∞–ø–æ–ª–Ω–µ–Ω–∏–µ –∫–æ–Ω—Å—Ç–∞–Ω—Ç–æ–π. –î–ª—è —ç—Ç–æ–≥–æ —Ä—è–¥ –¥–∞–Ω–Ω—ã—Ö –∏–º–µ–µ—Ç –º–µ—Ç–æ–¥ `Series.fillna()`, –≤ –∫–æ—Ç–æ—Ä—ã–π –º–æ–∂–Ω–æ –ø–µ—Ä–µ–¥–∞—Ç—å –∑–Ω–∞—á–µ–Ω–∏–µ –∏ –≤–º–µ—Å—Ç–æ NaN —ç–ª–µ–º–µ–Ω—Ç–æ–≤ –±—É–¥–µ—Ç –ø–æ—Å—Ç–∞–≤–ª–µ–Ω–∞ –∫–æ–Ω—Å—Ç–∞–Ω—Ç–∞, —É–∫–∞–∑–∞–Ω–Ω–∞—è –≤ –∞—Ä–≥—É–º–µ–Ω—Ç–∞—Ö.

In [28]:
df

    x1   x2   x3
0  NaN  NaN  2.0
1  4.0  1.0  7.0
2  5.0  NaN  NaN
3  8.0  2.0  3.0
4  5.0  9.0  7.0

In [29]:
df['x2'].fillna(3, inplace=True)
df

    x1   x2   x3
0  NaN  3.0  2.0
1  4.0  1.0  7.0
2  5.0  3.0  NaN
3  8.0  2.0  3.0
4  5.0  9.0  7.0

### –ò–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ–± —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏—è—Ö

–ü—Ä–∏ —Ä–∞–±–æ—Ç–µ —Å –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–º–∏ –¥–∞–Ω–Ω—ã–º–∏ –ø–æ–ª–µ–∑–Ω–∞ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ–± —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏—è—Ö –ø—Ä–∏–∑–Ω–∞–∫–∞, –ø–æ—ç—Ç–æ–º—É –≤–∞–∂–Ω–æ –ø–æ–Ω–∏–º–∞—Ç—å, –∫–∞–∫ –ø—Ä–æ–≤–µ—Ä–∏—Ç—å –∏—Ö –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ:

In [30]:
df = pd.DataFrame({
    'col1': ['high', 'high', 'low', 'med', 'low', 'low', 'med', 'low', 'low', 'high'],
    'col2': [0, 1, 1, 2, 3, 1, 1, 2, 2, 2]
})
df

   col1  col2
0  high     0
1  high     1
2   low     1
3   med     2
4   low     3
5   low     1
6   med     1
7   low     2
8   low     2
9  high     2

In [31]:
# –ú–µ—Ç–æ–¥ DataFrame.nunique() –ø–æ–∑–≤–æ–ª—è–µ—Ç –≤—ã–≤–µ—Å—Ç–∏ 
#   –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ –∫–∞–∂–¥–æ–π –∫–æ–ª–æ–Ω–∫–µ
# –†–µ–∑—É–ª—å—Ç–∞—Ç - Series —Å –∏–Ω–¥–µ–∫—Å–∞–º–∏ - –Ω–∞–∑–≤–∞–Ω–∏—è–º–∏ –∫–æ–ª–æ–Ω–æ–∫
df.nunique()

col1    3
col2    4
dtype: int64

In [32]:
# –ú–µ—Ç–æ–¥ Series.value_counts() –ø–æ–∫–∞–∑—ã–≤–∞–µ—Ç —É–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ —Ä—è–¥—É
#   –∏ —É–∫–∞–∑—ã–≤–∞–µ—Ç –∏—Ö –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ
df['col1'].value_counts()

low     5
high    3
med     2
Name: col1, dtype: int64

In [33]:
# –†–µ–∑—É–ª—å—Ç–∞—Ç - Series —Å –∏–Ω–¥–µ–∫—Å–∞–º–∏ - —É–Ω–∏–∫–∞–ª—å–Ω—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏
df['col2'].value_counts()

1    4
2    4
0    1
3    1
Name: col2, dtype: int64

### –§–∏–ª—å—Ç—Ä–∞—Ü–∏—è

–ú–µ—Ç–æ–¥ `DataFrame.filter()` –ø–æ–∑–≤–æ–ª—è–µ—Ç –æ—Ç—Ñ–∏–ª—å—Ç—Ä–æ–≤–∞—Ç—å –∏ –≤—ã–±—Ä–∞—Ç—å —Ç–æ–ª—å–∫–æ —Ç–µ –∫–æ–ª–æ–Ω–∫–∏/–∑–∞–ø–∏—Å–∏, –∫–æ—Ç—Ä—ã–µ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É—é—Ç —É—Å–ª–æ–≤–∏—é, –∑–∞–¥–∞–Ω–Ω–æ–º—É –≤ –∞—Ä–≥—É–º–µ–Ω—Ç–∞—Ö:

In [34]:
df = pd.DataFrame(np.array(([1, 2, 3], [4, 5, 6])),
                  index=['mouse', 'rabbit'],
                  columns=['col_one', 'col_two', 'col_three'])
df

        col_one  col_two  col_three
mouse         1        2          3
rabbit        4        5          6

In [35]:
# –û—Ç—Ñ–∏–ª—å—Ç—Ä–æ–≤–∞—Ç—å –ø–æ –∏–º–µ–Ω–∞–º –∫–æ–ª–æ–Ω–æ–∫
# –ê–Ω–∞–ª–æ–≥–∏—á–Ω–æ df[['col_one', 'col_three']]
df.filter(items=['col_one', 'col_three'], axis='columns')

        col_one  col_three
mouse         1          3
rabbit        4          6

In [36]:
# –û—Ç—Ñ–∏–ª—å—Ç—Ä–æ–≤–∞—Ç—å –ø–æ —Ä–µ–≥—É–ª—è—Ä–Ω–æ–º—É –≤—ã—Ä–∞–∂–µ–Ω–∏—é
# –û—Å—Ç–∞–≤–∏—Ç—å —Ç–æ–ª—å–∫–æ —Ç–µ –∫–æ–ª–æ–Ω–∫–∏, –∫–æ—Ç–æ—Ä—ã–µ –æ–∫–∞–Ω—á–∏–≤–∞—é—Ç—Å—è –Ω–∞ –±—É–∫–≤—É "o"
df.filter(regex='o$', axis='columns')

        col_two
mouse         2
rabbit        5

#### –ó–∞–¥–∞–Ω–∏–µ - –∏ –µ—â–µ –ø–æ—Ñ–∏–ª—å—Ç—Ä—É–µ–º

–û—Ç—Ñ–∏–ª—å—Ä—É–π—Ç–µ –∑–∞–ø–∏—Å–∏ –ø–æ —Å—Ç—Ä–æ–∫–µ, —Å–æ–¥–µ—Ä–∂–∞—â–µ–π—Å—è –≤ –∏–º–µ–Ω–∏ –∏–Ω–¥–µ–∫—Å–∞ (–∞—Ä–≥—É–º–µ–Ω—Ç `like`):

In [37]:
df = pd.DataFrame(np.array(([1, 2, 3], [4, 5, 6], [7, 8, 9])),
                  index=['dog in house', 'cat in house', 'pig in farm'],
                  columns=['x1', 'x2', 'x3'])
df

              x1  x2  x3
dog in house   1   2   3
cat in house   4   5   6
pig in farm    7   8   9

In [38]:
df.filter(like='house',axis='index')
# TODO - –æ—Ç—Ñ–∏–ª—å—Ç—Ä—É–π—Ç–µ –ø–æ –∑–∞–ø–∏—Å—è–º, –¥–æ–ª–∂–Ω—ã –æ—Å—Ç–∞—Ç—å—Å—è –∑–∞–ø–∏—Å–∏, 
#           –∏–Ω–¥–µ–∫—Å –∫–æ—Ç–æ—Ä—ã—Ö —Å–æ–¥–µ—Ä–∂–∏—Ç —Å–ª–æ–≤–æ "house"

              x1  x2  x3
dog in house   1   2   3
cat in house   4   5   6

### –°–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞

–í—Å–µ–≥–¥–∞ –ø–æ–ª–µ–∑–Ω–æ –∑–Ω–∞—Ç—å, –∫–∞–∫ –æ—Ç—Å–æ—Ä—Ç–∏—Ä–æ–≤–∞—Ç—å –¥–∞–Ω–Ω—ã–µ, –¥–ª—è —ç—Ç–æ–≥–æ –º—ã –≤–æ—Å–ø–æ–ª—å–∑—É–µ–º—Å—è –º–µ—Ç–æ–¥–æ–º `DataFrame.sort_values()`:

In [39]:
df = pd.DataFrame({
    'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
    'col2': [2, 1, 9, 8, 7, 4],
    'col3': [0, 1, 9, 4, 2, 3],
    'col4': ['a', 'B', 'c', 'D', 'e', 'F']
}, index=['A', 'B', 'C', 'D', 'E', 'F'])
df

  col1  col2  col3 col4
A    A     2     0    a
B    A     1     1    B
C    B     9     9    c
D  NaN     8     4    D
E    D     7     2    e
F    C     4     3    F

In [40]:
# –û—Ç—Å–æ—Ä—Ç–∏—Ä—É–µ–º –∑–∞–ø–∏—Å–∏ –∫–æ–ª–æ–Ω–∫–∏ col2
# –ò–º–µ–Ω–Ω–æ –ø–æ—ç—Ç–æ–º—É –≤ axis —Å—Ç–∞–≤–∏—Ç—Å—è rows, —Ç–∞–∫ –∫–∞–∫
#   –æ–ø–µ—Ä–∞—Ü–∏—è –ø—Ä–æ–∏–∑–≤–æ–¥–∏—Ç—Å—è –≤ –∫–æ–ª–æ–Ω–∫–µ –ø–æ –∫–∞–∂–¥–æ–º—É —Ä—è–¥—É
df.sort_values(by='col2', axis='rows')

  col1  col2  col3 col4
B    A     1     1    B
A    A     2     0    a
F    C     4     3    F
E    D     7     2    e
D  NaN     8     4    D
C    B     9     9    c

#### –ó–∞–¥–∞–Ω–∏–µ - —Å–Ω–æ–≤–∞ —Å–æ—Ä—Ç–∏—Ä—É–µ–º

–û—Ç—Å–æ—Ä—Ç–∏—Ä—É–π—Ç–µ –¥–∞–Ω–Ω—ã–µ:

In [41]:
df = pd.DataFrame(
    np.random.randint(0, 20, size=(5, 5)), 
    columns=['col1', 'col2', 'col3', 'col4', 'col5']
)
df

   col1  col2  col3  col4  col5
0    17     5    11     4     9
1    15     2    17    16    19
2    12    12     0    18     7
3     1    10    15     5     6
4    14     5    13    14     6

In [42]:
df.sort_values(by='col3', ascending=False, axis='rows')
# TODO - –æ—Ç—Å–æ—Ä—Ç–∏—Ä—É–π—Ç–µ –¥–∞–Ω–Ω—ã–µ –∏–Ω–¥–µ–∫—Å–∞ 3 –ø–æ —É–±—ã–≤–∞–Ω–∏—é

   col1  col2  col3  col4  col5
1    15     2    17    16    19
3     1    10    15     5     6
4    14     5    13    14     6
0    17     5    11     4     9
2    12    12     0    18     7

## –†–∞–∑–¥–µ–ª–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö –Ω–∞ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏

–í —Ö–æ–¥–µ —Ä–∞–±–æ—Ç—ã —Å –¥–∞–Ω–Ω—ã–º–∏ —á–∞—Å—Ç–æ –±—ã–≤–∞–µ—Ç –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –¥–∏–∞–ø–∞–∑–æ–Ω —á–∏—Å–ª–æ–≤–æ–π –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π —Ä–∞–∑–±–∏—Ç—å –Ω–∞ –Ω–µ—Å–∫–æ–ª—å–∫–æ –≥—Ä—É–ø–ø (–∫–∞—Ç–µ–≥–æ—Ä–∏–π). –ù–∞–ø—Ä–∏–º–µ—Ä, –∑–∞–º–µ–Ω–∏—Ç—å —á–∏—Å–ª–æ–≤–æ–π –¥–∏–∞–ø–∞–∑–æ–Ω —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä –≤–æ–¥—ã $[-10; 60]$ –Ω–∞ —Ç—Ä–∏ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ $[–Ω–∏–∑–∫–∞—è, —Å—Ä–µ–¥–Ω—è—è, –≤—ã—Å–æ–∫–∞—è]$. –î–ª—è —Ç–∞–∫–∏—Ö —Ü–µ–ª–µ–π –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è —Ñ—É–Ω–∫—Ü–∏—è `pd.cut()`:

In [43]:
df = pd.DataFrame({
    'temp': [59, 22, -10, 38, 20, 40, 38, 47, 20, 15, 13, 44, 57, 32, 38]
})
df.head()

   temp
0    59
1    22
2   -10
3    38
4    20

In [44]:
# –ú–æ–∂–Ω–æ –∑–∞–¥–∞—Ç—å —Å–≤–æ–∏ –≥—Ä–∞–Ω–∏—Ü—ã –¥–∏–∞–ø–∞–∑–æ–Ω–∞ –∏ –Ω–∞–∑–≤–∞–Ω–∏—è –∫–∞—Ç–µ–≥–æ—Ä–∏–π
# –ï—Å–ª–∏ –ø–ª–∞–Ω–∏—Ä—É–µ—Ç—Å—è —Ç—Ä–∏ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏, —Ç–æ –≥—Ä–∞–Ω–∏—Ü –¥–æ–ª–∂–Ω–æ –±—ã—Ç—å –Ω–∞ –æ–¥–Ω—É –±–æ–ª—å—à–µ - 
#   —Ç–∞–∫ –∑–∞–¥–∞—é—Ç—Å—è –¥–∏–∞–ø–∞–∑–æ–Ω—ã –¥–ª—è –∫–∞—Ç–µ–≥–æ—Ä–∏–π
df['temp_cat'] = pd.cut(
    x=df['temp'],
    bins=[-10, 10, 25, 60],
    labels=['low', 'medium', 'high'],
    # –§–ª–∞–≥, —á—Ç–æ–±—ã —Å–∞–º–æ–µ –ª–µ–≤–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –≥—Ä–∞–Ω–∏—Ü—ã –≤—Ö–æ–¥–∏–ª–æ –≤ –ø–µ—Ä–≤—ã–π –¥–∏–∞–ø–∞–∑–æ–Ω
    include_lowest=True
)
df.head()

   temp temp_cat
0    59     high
1    22   medium
2   -10      low
3    38     high
4    20   medium

In [45]:
# –†–µ–∑—É–ª—å—Ç–∞—Ç —Ä–∞–∑–¥–µ–ª–µ–Ω–∏—è –∏–º–µ–µ—Ç –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–π —Ç–∏–ø
df['temp_cat'].dtype

CategoricalDtype(categories=['low', 'medium', 'high'], ordered=True)

In [46]:
# –ú–æ–∂–Ω–æ –Ω–µ –∑–∞–¥–∞–≤–∞—Ç—å –∏–º–µ–Ω–∞ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º, —Ç–æ–≥–¥–∞ –æ–Ω —Å–∞–º –∏—Ö –Ω–∞–∑–æ–≤—ë—Ç
result_after_cut = pd.cut(
    x=df['temp'],
    bins=[-10, 10, 25, 60],
    include_lowest=True
)
# –í–∑–≥–ª—è–Ω–µ–º –Ω–∞ –∏–º–µ–Ω–∞
result_after_cut.unique()

[(25.0, 60.0], (10.0, 25.0], (-10.001, 10.0]]
Categories (3, interval[float64, right]): [(-10.001, 10.0] < (10.0, 25.0] < (25.0, 60.0]]

In [47]:
# –ú–æ–∂–Ω–æ –Ω–µ –∑–∞–¥–∞–≤–∞—Ç—å –≥—Ä–∞–Ω–∏—Ü—ã, –ª–∏—à—å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–∞—Ç–µ–≥–æ—Ä–∏–π - 
#   —Ä–∞–∑–¥–µ–ª–µ–Ω–∏–µ –±—É–¥–µ—Ç –Ω–∞ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ —Å –æ–¥–∏–Ω–∞–∫–æ–≤–æ–π —à–∏—Ä–∏–Ω–æ–π –¥–∏–∞–ø–∞–∑–æ–Ω–æ–≤
result_after_cut = pd.cut(
    x=df['temp'],
    bins=3
)
result_after_cut.unique()

[(36.0, 59.0], (13.0, 36.0], (-10.069, 13.0]]
Categories (3, interval[float64, right]): [(-10.069, 13.0] < (13.0, 36.0] < (36.0, 59.0]]

### –ó–∞–¥–∞–Ω–∏–µ - —Ä–∞–∑–¥–µ–ª–∏–º –ø–æ –∫–∞—á–µ—Å—Ç–≤—É

–†–∞–∑–¥–µ–ª–∏—Ç–µ –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å –∫–∞—á–µ—Å—Ç–≤–∞ –≤ –¥–∏–∞–ø–∞–∑–æ–Ω–µ $[0, 100]$ –Ω–∞ —á–µ—Ç—ã—Ä–µ –≥—Ä—É–ø–ø—ã: 

* –ø–ª–æ—Ö–æ–µ $[0-20]$, 

* —Å—Ä–µ–¥–Ω–µ–µ $(20-45]$, 

* —Ö–æ—Ä–æ—à–µ–µ $(45-85]$, 

* –æ—Ç–ª–∏—á–Ω–æ–µ $(85-100]$. 

–í—ã—è—Å–Ω–∏—Ç–µ, —á—Ç–æ –ø—Ä–æ–∏—Å—Ö–æ–¥–∏—Ç —Å–æ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏, –∫–æ—Ç–æ—Ä—ã–µ –Ω–µ –ø–æ–ø–∞–¥–∞—é—Ç –≤ –¥–∏–∞–ø–∞–∑–æ–Ω—ã –∫–∞—Ç–µ–≥–æ—Ä–∏–π:

In [48]:
df = pd.DataFrame({
    'quality': [ 7, 67, 21, 38,  2, -2, 79, 22,  5, 31, 77, 72, 23, 64, 99]
})
df.head()

   quality
0        7
1       67
2       21
3       38
4        2

In [49]:
df['Category'] = pd.cut(
    x=df['quality'],
    bins=[0, 20, 45, 85, 100],
    labels=['–ø–ª–æ—Ö–æ', '—Å—Ä–µ–¥–Ω–µ', '—Ö–æ—Ä–æ—à–µ–µ','–æ—Ç–ª–∏—á–Ω–æ–µ'],
    # –§–ª–∞–≥, —á—Ç–æ–±—ã —Å–∞–º–æ–µ –ª–µ–≤–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –≥—Ä–∞–Ω–∏—Ü—ã –≤—Ö–æ–¥–∏–ª–æ –≤ –ø–µ—Ä–≤—ã–π –¥–∏–∞–ø–∞–∑–æ–Ω
    include_lowest=True
)
df
# TODO - —Ä–∞–∑–¥–µ–ª–∏—Ç–µ –¥–∞–Ω–Ω—ã–µ –Ω–∞ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏
# TODO - –æ–ø—Ä–µ–¥–µ–ª–∏—Ç–µ, –∫–∞–∫–∏–µ –∑–∞–ø–∏—Å–∏ –Ω–µ –∏–º–µ—é—Ç –∫–∞—Ç–µ–≥–æ—Ä–∏–π –∏ –ø–æ—á–µ–º—É
# –ü–æ—Ç–æ–º—É —á—Ç–æ –∑–Ω–∞—á–µ–Ω–∏–µ —ç—Ç–∏—Ö –∑–∞–ø–∏—Å–µ–π –Ω–µ –≤—Ö–æ–¥–∏—Ç –Ω–∏ –≤ –æ–¥–∏–Ω –∏–∑ –¥–∏–∞–ø–∞–∑–æ–Ω–æ–≤

    quality  Category
0         7     –ø–ª–æ—Ö–æ
1        67   —Ö–æ—Ä–æ—à–µ–µ
2        21    —Å—Ä–µ–¥–Ω–µ
3        38    —Å—Ä–µ–¥–Ω–µ
4         2     –ø–ª–æ—Ö–æ
5        -2       NaN
6        79   —Ö–æ—Ä–æ—à–µ–µ
7        22    —Å—Ä–µ–¥–Ω–µ
8         5     –ø–ª–æ—Ö–æ
9        31    —Å—Ä–µ–¥–Ω–µ
10       77   —Ö–æ—Ä–æ—à–µ–µ
11       72   —Ö–æ—Ä–æ—à–µ–µ
12       23    —Å—Ä–µ–¥–Ω–µ
13       64   —Ö–æ—Ä–æ—à–µ–µ
14       99  –æ—Ç–ª–∏—á–Ω–æ–µ

## –ê–≥—Ä–µ–≥–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö

–ê–≥—Ä–µ–≥–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö - –æ–±—ä–µ–¥–∏–Ω–µ–Ω–∏–µ –≥—Ä—É–ø–ø—ã –¥–∞–Ω–Ω—ã—Ö –¥–ª—è –ø–æ–ª—É—á–µ–Ω–∏—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏. –ü—Ä–∏–º–µ—Ä–∞–º–∏ –æ–ø–µ—Ä–∞—Ü–∏–π –∞—Ä–≥–µ–≥–∞—Ü–∏–∏ —è–≤–ª—è—é—Ç—Å—è: —Å—É–º–º–∞, —Å—Ä–µ–¥–Ω–µ–µ, –º–∞–∫—Å–∏–º—É–º, –º–∏–Ω–∏–º—É–º.

–í pandas –∞–≥—Ä–µ–≥–∞—Ü–∏—è –º–æ–∂–µ—Ç –±—ã—Ç—å –≤—ã–ø–æ–ª–Ω–µ–Ω–∞ –ø—É—Ç–µ–º –º–µ—Ç–æ–¥–∞ `DataFrame.aggregate()`:

In [50]:
df = pd.DataFrame([[1, 2, 3],
                   [4, 5, 6],
                   [7, 8, 9],
                   [np.nan, np.nan, np.nan]],
                  columns=['A', 'B', 'C'])
df

     A    B    C
0  1.0  2.0  3.0
1  4.0  5.0  6.0
2  7.0  8.0  9.0
3  NaN  NaN  NaN

In [51]:
# –ü–æ–ª—É—á–∏–º –∑–Ω–∞—á–µ–Ω–∏—è –º–∏–Ω–∏–º—É–º–æ–≤ –∏ —Å—Ä–µ–¥–Ω–∏—Ö –ø–æ –≤—Å–µ–º –∫–æ–ª–æ–Ω–∫–∞–º
# –ü—Ä–∏–Ω—Ü–∏–ø –∞–Ω–∞–ª–æ–≥–∏—á–µ–Ω –æ–ø–µ—Ä–∞—Ü–∏—è–º –≤ numpy - 
#   –¥–ª—è –∞–≥—Ä–µ–≥–∞—Ü–∏–∏ –ø–æ –∫–æ–ª–æ–Ω–∫–∞ –æ–ø–µ—Ä–∞—Ü–∏—è –¥–æ–ª–∂–Ω–∞ –ø—Ä–æ–π—Ç–∏ –ø–æ —Ä—è–¥–∞–º,
#   —Å–æ–æ—Ç–≤–µ—Ç—Å–≤–µ–Ω–Ω–æ, axis='rows'
df.aggregate(['min', 'mean'], axis='rows')

        A    B    C
min   1.0  2.0  3.0
mean  4.0  5.0  6.0

In [52]:
# –ó–∞–¥–∞–¥–∏–º –ø—Ä–∞–≤–∏–ª–∞ –∞–≥—Ä–µ–≥–∞—Ü–∏–∏ –¥–ª—è –∫–∞–∂–¥–æ–π –∫–æ–ª–æ–Ω–∫–∏
# –û–ø–µ—Ä–∞—Ü–∏–∏ –º–æ–∂–Ω–æ –∑–∞–¥–∞–≤–∞—Ç—å —Å—Ç—Ä–æ–∫–∞–º–∏ –∏–ª–∏ —Ñ—É–Ω–∫—Ü–∏—è–º–∏ numpy
df.aggregate({
    'A': ['sum', 'min'],
    'B': ['max', 'min'],
    'C': [np.sum, np.mean],
})

         A    B     C
sum   12.0  NaN  18.0
min    1.0  2.0   NaN
max    NaN  8.0   NaN
mean   NaN  NaN   6.0

### –ó–∞–¥–∞–Ω–∏–µ - –ø—Ä–æ—â–µ –ø—Ä–æ—Å—Ç–æ–≥–æ —Å—Ä–µ–¥–Ω–µ–≥–æ

–ü—Ä–æ–∏–∑–≤–µ–¥–∏—Ç–µ –∞–≥—Ä–µ–≥–∞—Ü–∏—é —Å—Ä–µ–¥–Ω–∏–º –ø–æ —Ä—è–¥–∞–º

In [53]:
df = pd.DataFrame(
    ([1, 2, 3], [4, 5, 6], [7, 8, 9]), 
    columns=['x1', 'x2', 'x3'])
df

   x1  x2  x3
0   1   2   3
1   4   5   6
2   7   8   9

In [54]:
df.aggregate('mean')
# TODO - –ø—Ä–æ–∏–∑–≤–µ–¥–∏—Ç–µ –∞–≥—Ä–µ–≥–∞—Ü–∏—é –ø–æ —Ä—è–¥–∞–º (–Ω–∞–π—Ç–∏ —Å—Ä–µ–¥–Ω–µ–µ)

x1    4.0
x2    5.0
x3    6.0
dtype: float64

## –ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏

–ò–≥—Ä—ã –∑–∞–∫–æ–Ω—á–∏–ª–∏—Å—å - –Ω–∞—á–∞–ª–∏—Å—å —Å–µ—Ä—å—ë–∑–Ω—ã–µ –≤–µ—â–∏. –ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏ —ç—Ç–æ –æ–¥–∏–Ω –∏–∑ —Å–∏–ª—å–Ω–µ–π—à–∏—Ö –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ–∑–≤–æ–ª—è—é—Ç –≤—ã—Ç–∞—Å–∫–∏–≤–∞—Ç—å –∏–∑ –¥–∞–Ω–Ω—ã—Ö –ø–æ–ª–µ–∑–Ω—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é!

–î–ª—è –ø–æ–Ω–∏–º–∞–Ω–∏—è —Ä–∞–∑–±–µ—Ä—ë–º –ø—Ä–∏–º–µ—Ä: –¥–æ–ø—É—Å—Ç–∏–º, —É –Ω–∞—Å –µ—Å—Ç—å –±–∞–∑–∞ –¥–∞–Ω–Ω—ã—Ö —Å—Ç—É–¥–µ–Ω—Ç–æ–≤ —Å 1 –ø–æ 4 –∫—É—Ä—Å—ã. –û–¥–Ω–∞ –∏–∑ –∫–æ–ª–æ–Ω–æ–∫ –±—É–¥–µ—Ç –∏–º–µ—Ç—å –≤ –∫–∞—á–µ—Å—Ç–≤–µ –∑–Ω–∞—á–µ–Ω–∏—è –Ω–æ–º–µ—Ä –∫—É—Ä—Å–∞ –∏ —Ç–∞–∫ –∫–∞–∫ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–æ–ø—É—Å—Ç–∏–º—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –æ–≥—Ä–∞–Ω–∏—á–µ–Ω–æ - —Ç–æ –ø—Ä–∞–≤–∏–ª—å–Ω–æ —Å—á–∏—Ç–∞—Ç—å —ç—Ç—É –∫–æ–ª–æ–Ω–∫—É –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω–æ–π. –î—Ä—É–≥–∞—è –∫–æ–ª–æ–Ω–∫–∞ - –æ—Ü–µ–Ω–∫–∞ –∑–∞ –æ–±—â–∏–π —É–Ω–∏–≤–µ—Ä—Å–∏—Ç–µ—Ç—Å–∫–∏–π —Ç–µ—Å—Ç (–≤—Å–µ –∫—É—Ä—Å—ã –µ–≥–æ –ø—Ä–æ—Ö–æ–¥–∏–ª–∏). –¢—Ä–µ—Ç—å–µ–π –∫–æ–ª–æ–Ω–∫–æ–π –±—É–¥–µ—Ç –≤—Ä–µ–º—è –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è:

In [55]:
data = [
    [1, 4.7, 60],
    [3, 4.5, 45],
    [4, 4.8, 40],
    [1, 4.9, 58],
    [2, 4.1, 50],
    [2, 4.2, 49],
    [2, 4.4, 49],
    [3, 4.9, 46],
    [4, 4.3, 33],
]

stud_df = pd.DataFrame(data, columns=['Grade', 'Test_Mark', 'Time'])
stud_df

   Grade  Test_Mark  Time
0      1        4.7    60
1      3        4.5    45
2      4        4.8    40
3      1        4.9    58
4      2        4.1    50
5      2        4.2    49
6      2        4.4    49
7      3        4.9    46
8      4        4.3    33

–¢–µ–ø–µ—Ä—å –ø—Ä–µ–¥—Å—Ç–∞–≤–∏–º, —á—Ç–æ –º—ã —Å–ª–æ–∂–∏–º –∫–∞–∂–¥—ã–π –∫—É—Ä—Å –≤ —Å–≤–æ—é –∫–æ—Ä–∑–∏–Ω–∫—É –ø—É—Ç–µ–º –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏:

In [56]:
gr_stud_df = stud_df.groupby(by='Grade')

# –¢–∏–ø —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞ - pd.DataFrameGroupBy
print(type(gr_stud_df))

# –¢–∞–∫–∏–º –æ–±—Ä–∞–∑–æ–º —É–≤–∏–¥–∏–º —Å–ª–æ–≤–∞—Ä—å:
#   –ö–ª—é—á–∏ - –Ω–∞–∑–≤–∞–Ω–∏—è –≥—Ä—É–ø–ø
#   –ó–Ω–∞—á–µ–Ω–∏—è - –∏–Ω–¥–µ–∫—Å—ã –∏–∑ –¥–∞–Ω–Ω—ã—Ö –¥–ª—è –≥—Ä—É–ø–ø—ã
gr_stud_df.groups

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

{1: [0, 3], 2: [4, 5, 6], 3: [1, 7], 4: [2, 8]}

–ü–æ—Å–ª–µ —Ç–æ–≥–æ, –∫–∞–∫ –º—ã —Å–ª–æ–∂–∏–ª–∏ –∑–∞–ø–∏—Å–∏ –ø–æ –≥—Ä—É–ø–ø–∞–º, –º—ã –º–æ–∂–µ–º –≤—ã—á–∏—Å–ª–∏—Ç—å, –Ω–∞–ø—Ä–∏–º–µ—Ä, —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –≤ –∫–∞–∂–¥–æ–π –≥—Ä—É–ø–ø–µ:

In [57]:
gr_stud_df.agg('mean')

       Test_Mark       Time
Grade
1       4.800000  59.000000
2       4.233333  49.333333
3       4.700000  45.500000
4       4.550000  36.500000

–í —Ä–µ–∑—É–ª—å—Ç–∞—Ç–µ, –º—ã —Å–º–æ–≥–ª–∏ –≤—ã—á–∏—Å–ª–∏—Ç—å —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É –∑–∞ —Ç–µ—Å—Ç –ø–æ –∫–∞–∂–¥–æ–º—É –∫—É—Ä—Å—É! –ò –¥–ª—è —ç—Ç–æ–≥–æ –Ω–∞–º –ø–æ—Ç—Ä–µ–±–æ–≤–∞–ª–æ—Å—å –≤—Å–µ–≥–æ –¥–≤–∞ –º–µ—Ç–æ–¥–∞! –†—É—á–Ω—ã–º –≤–∞—Ä–∏–∞–Ω—Ç–æ–º –Ω–∞–º –±—ã –ø—Ä–∏—à–ª–æ—Å—å —Å–æ–∑–¥–∞–≤–∞—Ç—å –∫–æ–Ω—Ç–µ–π–Ω–µ—Ä—ã, —Å–∫–ª–∞–¥—ã–≤–∞—Ç—å –≤ –Ω–∏—Ö –∑–Ω–∞—á–µ–Ω–∏—è –∏ –ø–æ—Ç–æ–º –≤—ã—á–∏—Å–ª—è—Ç—å —Å—Ä–µ–¥–Ω–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è...

–†–µ–∑—é–º–∏—Ä—É—è, –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ - —ç—Ç–æ —Ä–∞–∑–º–µ—â–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö –ø–æ –≥—Ä—É–ø–ø–∞–º —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –ø—Ä–∏–∑–Ω–∞–∫–∞, –ø–æ –∫–æ—Ç–æ—Ä–æ–º—É –≥—Ä—É–ø–ø–∏—Ä—É–µ—Ç—Å—è. –ü–æ—Å–ª–µ –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏ –º–æ–∂–Ω–æ –ø—Ä–æ–∏–∑–≤–µ—Å—Ç–∏ –∞–≥—Ä–µ–≥–∞—Ü–∏—é –¥–∞–Ω–Ω—ã—Ö –≤ –∫–∞–∂–¥–æ–π –≥—Ä—É–ø–ø–µ.

In [58]:
# –ë–æ–ª–µ–µ —Å–ª–æ–∂–Ω—ã–π –≤–∞—Ä–∏–∞–Ω—Ç - –Ω–∞–π–¥–µ–º —Å—Ä–µ–¥–Ω–∏–µ –∏ –º–∏–Ω–∏–º–∞–ª—å–Ω—ã–µ –≤—Ä–µ–º—è –∏ –æ—Ü–µ–Ω–∫—É 

gr_stud_df.agg(['mean', 'min'])

      Test_Mark            Time
           mean  min       mean min
Grade
1      4.800000  4.7  59.000000  58
2      4.233333  4.1  49.333333  49
3      4.700000  4.5  45.500000  45
4      4.550000  4.3  36.500000  33

In [59]:
# –ò–ª–∏ –∑–∞–¥–∞–¥–∏–º –ø—Ä–∞–≤–∏–ª–∞ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –ø—Ä–∏–∑–Ω–∞–∫–∞ –ø–æ –æ—Ç–¥–µ–ª—å–Ω–æ—Å—Ç–∏

res = gr_stud_df.agg({
    'Test_Mark': ['mean', 'min'],
    'Time': ['min']
})

print(type(res))
res

<class 'pandas.core.frame.DataFrame'>

      Test_Mark      Time
           mean  min  min
Grade
1      4.800000  4.7   58
2      4.233333  4.1   49
3      4.700000  4.5   45
4      4.550000  4.3   33

In [60]:
# –î–ª—è –æ–±—Ä–∞—â–µ–Ω–∏—è –∫ –¥–∞–Ω–Ω—ã–º –ø—Ä–æ—Å—Ç–æ –∏—Å–ø–æ–ª—å–∑—É–µ–º –Ω–µ—Å–∫–æ–ª—å–∫–æ –∏–Ω–¥–µ–∫—Å–æ–≤, 
#   —Ç–∞–∫ –∫–∞–∫ —ç—Ç–æ DataFrame
res['Test_Mark']['mean']

Grade
1    4.800000
2    4.233333
3    4.700000
4    4.550000
Name: mean, dtype: float64

### –ó–∞–¥–∞–Ω–∏–µ - —Å–≥—Ä—É–ø–ø–∏—Ä—É–µ–º

–°–≥—Ä—É–ø–ø–∏—Ä—É–π—Ç–µ –¥–∞–Ω–Ω—ã–µ –ø–æ –ø—Ä–∏–∑–Ω–∞–∫—É x2 –∏ –Ω–∞–π–¥–∏—Ç–µ –º–µ–¥–∏–∞–Ω—É –∏ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏—è –ø–æ –ø—Ä–∏–∑–Ω–∞–∫–∞–º x1, x3:

In [61]:
df = pd.DataFrame({
    'x1': np.random.randint(10, 100, size=(200, )),
    'x2': np.random.choice(['low', 'high', 'medium'], size=(200, )),
    'x3': np.random.randint(-20, 30, size=(200, )),
})
df.head()

   x1      x2  x3
0  12     low  23
1  46    high  -9
2  72  medium  -6
3  64  medium -11
4  70    high  21

In [62]:
gr_df = df.groupby(by='x2')
gr_df.groups
gr_df.agg(['mean', 'max'])
# TODO - –ø—Ä–æ–∏–∑–≤–µ–¥–∏—Ç–µ –≥—Ä—É–ø–∏—Ä–æ–≤–∫—É –¥–∞–Ω–Ω—ã—Ö
#           –∏ –ø–æ–ª—É—á–∏—Ç–µ —Å—Ä–µ–¥–Ω–∏–µ –∏ –º–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –ø–æ –∫–∞–∂–¥–æ–π –≥—Ä—É–ø–ø–µ

               x1            x3
             mean max      mean max
x2
high    56.187500  99  4.140625  29
low     64.791045  99  5.373134  27
medium  53.101449  97  2.594203  29